PORT=3000
NODE_ENV=development

MONGODB_CNN=mongodb://localhost:27017/perdidos-y-adopciones

SECRETORPRIVATEKEY=your_access_token_secret
REFRESH_SECRET=your_refresh_token_secret

FRONTEND_URL=http://localhost:5173

RESEND_API_KEY=
RESEND_FROM=
